body {
    background-color: rgb(250, 250, 250);
}
button {
    display: inline-block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-family: monospace;
    line-height: 20px;
    text-shadow: 1px 1px 3px #ccc;
}
input {
    display: inline-block;
    float: right;
    width: 45%;
}
span {
    display: inline-block;
    width: 90px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: white;
}
hr {
    border-color: rgba(200, 200, 200, 0.1);
}